<%- include('../partials/head')-%>

    <body>
        <%- include('../partials/header')-%>
            <main id="main">
                <!-- ======= Business Section ======= -->
                <section id="business" class="business">
                    <div class="container">
                        <h3 class="text-center text-uppercase">Business Contacts List</h3>
                        <fieldset class="form-group text-right">
                            <a href="/display_add_business">
                                <input type="button" class="btn btn-success" value="Add"></a>
                        </fieldset>
                        <table class="table table-hover" id="countries">
                            <tr style='text-align:left; background-color:#CCC'>
                                <th id="id">#</th>
                                <th scope="col" id="name">Name</th>
                                <th scope="col" id="email">Email</th>
                                <th scope="col" id="contact_number">Contact Number</th>
                                <th scope="col">Action</th>
                            </tr>
                            <% if (data) { %>
                                <% data.forEach(function(buss_contact,index,object){ %>
                                    <tr>
                                        <td id="id">
                                            <%= index + 1 %>
                                        </td>
                                        <td id="name">
                                            <%= buss_contact.name %>
                                        </td>
                                        <td id="email">
                                            <%= buss_contact.email %>
                                        </td>
                                        <td id="Contact Number">
                                            <%= buss_contact.contact_number %>
                                        </td>
                                        <td>
                                            <div style="float:left">
                                                <a class="btn btn-outline-success my-2 my-sm-0"
                                                    href='/business/edit/<%= buss_contact.id %>'>Update</a>
                                                &nbsp;
                                                <form method="post" action="/business/delete/<%= buss_contact.id %>"
                                                    style="float:right">
                                                    <input class="btn btn-outline-danger my-2 my-sm-0" type="submit"
                                                        name="delete" value='Delete'
                                                        onClick="return confirm('Are you sure you want to delete?')" />
                                                    <input class="btn btn-outline-success my-2 my-sm-0" type="hidden"
                                                        name="_method" value="DELETE" />
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                    <% }) %>
                                        <% } %>
                        </table>
                    </div>
                </section><!-- End Business Section -->
            </main>
            <%- include('../partials/footer')-%>
    </body>